// Todos los archivos que son una parte, es decir que van a ser importados en el mail, conviene arrancarlos con un guion bajo _variables.scss
$colorTituloPrincipal: #ff8300;
$fuentePaginaTernium: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
$fuenteListas:__LinotypeUnivers Cond Heavy;


