@import "variables.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";

h1{
    color: $colorTituloPrincipal; /* Color sacado del css de TERNIUM , agregada variable con SCSS*/
    font-style:oblique;
    font-weight:bolder;
    font-size: 50px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: $fuentePaginaTernium; /* Agregada variable con SCSS */
    text-align: center;
}

a{
    text-decoration: none;
    color: #000;

}

ul{
    list-style: none;
    
}
li{
    font-size: 25px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: __LinotypeUnivers Cond Heavy; /* Fuente utilizada en el portal propio de TERNIUM, sacado del css */
}

p{
    font-family:  __LinotypeUnivers Cond_5;
}









*{
    margin: 0;
    padding: 0;
}


.buscador-Style{
    display: inline-block;
    width: 80%;
}

#imagenBuscador{
    display: inline-block;
    width: 30px;
    height: 30px;
}

#imagenLogo{
    display: inline-block;
    width: 70px;
    height: 70px;
}

@mixin estilo($colorFondo,$estiloLista,$margenIzq,$margenDer) { //estilo creado con mixin!!
    
    background-color:$colorFondo;
    overflow: scroll;
    list-style:$estiloLista;
    margin-left: $margenIzq;
    margin-right: $margenDer;

}

.style{ // Creado el estilo .style, en donde se puso además la variable $colorBackground
    background-color:$colorBackground;
    overflow: scroll;
    list-style:square;
    margin-left: 50px;
    margin-right: 50px;

}
//USANDO MIXIN!!
.about-Style{ 
    @include estilo($colorBackground,square , 50px ,50px ) //Usando además la variable global $colorBackground
    /* display: inline-block; */
    // background-color: hsl(34, 4%, 62%); HEREDADO DE ESTILO
    // margin-left: 50px;HEREDADO DE ESTILO
    // margin-right: 50px;HEREDADO DE ESTILO
    // overflow: scroll;
    // list-style:square; HEREDADO DE ESTILO
}

.calendario-Style{
    display: inline-block;
    align-items: right;
}

.contacto-Style{
    @extend .style;
    // display: inline-block;
    // background-color: hsl(34, 4%, 62%); HEREDADO DE STYLE
    // margin-left: 50px;
    // margin-right: 50px;
    // overflow: scroll; HEREDADO DE STYLE
    // list-style:square; HEREDADO DE STYLE
}

.login-Style{
    @extend .style;
    // display: inline-block;
    // background-color: hsl(34, 4%, 62%); HEREDADO DE STYLE
    // margin-left: 200px;
    // margin-right: 200px;
    // overflow: scroll; HEREDADO DE STYLE
    // list-style:square; HEREDADO DE STYLE
 
}

.registro-Style{
    @extend .style;
    // display: inline-block;
    // background-color: hsl(34, 4%, 62%); HEREDADO DE STYLE
    // margin-left: 200px;
    // margin-right: 200px;
    // overflow: scroll; HEREDADO DE STYLE
    // list-style:square; HEREDADO DE STYLE
}
img{
    height: 100%;
    width: 100%;
    transition: all .7s;
}

/* HOVERS */
img:hover{
    transform: scale(1.1);
}

a:hover{
    text-decoration:underline;
    color: rgb(194, 85, 13);
}

/* Version MOBILE */
@media only screen and (max-width:600px){

    #mainPrincipal{
        height: auto;
        grid-template-columns: 20% 80% ;
        grid-template-rows: 200px 200px 200px 200px 200px;
        grid-template-areas: "Mlinea foto1"
                             "Mlinea foto2"
                             "Mlinea foto3"
                             "Mlinea foto4"
                             "Mlinea MenDia";
        align-content: space-between;

    }
    #mainPrincipal-MensajeDia{
        grid-area: MenDia ;
    }
    .imagenGraficos1{
        grid-area: foto1;
    }
    .imagenGraficos2{
        grid-area: foto2;
    }
    .imagenGraficos3{
        grid-area: foto3;
    }
    .imagenGraficos4{
        grid-area: foto4;
    }
    #mainPrincipal-MenuLineas{
        grid-area: Mlinea;
    }
}

/* Version Desktop */
@media only screen and (min-width:600px){

    #mainPrincipal{
        height: auto;
        grid-template-columns: 15% 35% 35% 15%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "Mlinea foto1 foto2 MenDia"
                             "Mlinea foto3 foto4 MenDia";
        align-content: space-between;
        
    }
    #mainPrincipal-MensajeDia{
        grid-area: MenDia ;
    }
    .imagenGraficos1{
        grid-area: foto1;
    }
    .imagenGraficos2{
        grid-area: foto2;
    }
    .imagenGraficos3{
        grid-area: foto3;
    }
    .imagenGraficos4{
        grid-area: foto4;
    }
    #mainPrincipal-MenuLineas{
        grid-area: Mlinea;
    }

}