<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="../Images/favicon.ico">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>about</title>
</head>
<body>
    <header>
        <a href="..\index.html"><h1>HOJALATA TERNIUM</h1></a>
        <nav>
            <!-- MENU -->
            <a href="..\index.html"><img id="imagenLogo" src="..\Images\LogoTernium.jpg" alt="Logo de la empresa TERNIUM" /></a>
            <div class="menu">
                <ul>
                    <li class="menu-izquierda"><a href="./about.html">About</a></li>
                    <li class="menu-izquierda"><a href="./bobinas.html">Bobinas</a></li>
                    <li class="menu-izquierda"><a href="./contacto.html">Contacto</a></li>
                    <li class="menu-derecha"><a href="./login.html">Login</a></li>
                    <li class="menu-derecha"><a href="./register.html">Register</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>

        <section>
            <!-- MENU LATERAL, vincula cada linea de produccion con esta página -->
            <div class="menu-lineas-style">
                <h2>Menu lineas</h2>
                <ul>
                    <li>TRL</li>
                    <li>ESTAÑADO</li>
                    <li>TEMPER2</li>
                    <li>RECOCIDO</li>
                    <li>LINEAS FINALES</li>
                </ul>
            </div>
        </section>
        <section>
                <!-- CALENDARIO -->
            <div class="calendario-Style">Calendario</div>
        </section>
        <section>
            <!-- MENSAJE ABOUT -->
            <div class="about-Style">
                <h2>
                    App Hojalata - Gerencia de Hojalata
                </h2>
                <ul>
                    <li>Lineas activas:</li>
                        <li>TRL</li>
                        <li>ESTAÑADO</li>
                        <li>TEMPER 2</li>
                        <li>RECOCIDO</li>
                        <li>LINEAS FINALES</li>            
                    <br>
                    <li>Proximamente:</li>
                        <li>Temper 1</li>
                        <li>LAC</li>
                        <li>LAIF</li>
                    
                </ul>
                 
                
            </div>
        </section>

    </main>
    <footer>
        <span class="otraspaginas-style">
            <h3>A otras páginas</h3>
            <p><a href="http://172.17.20.89:5050/" rel="stylesheet" />Defect Analyzer TRL</a></p>
        </span>

        <span class="powered-style">
            <p>Powered by Montagna Matias</p><i>LinkedIn</i>
        </span>
    </footer>
</body>
</html>